.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
zendesk_scarlett_android.iml
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/copyright/profiles_settings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
app/app.iml
.idea
app/src/main/assets/paperwork.json
paperwork.json
/fastlane
*.log
*.iml
